html{background: #e9ebee;}
html,body{/*height:100%;*/width:100%;text-align:center}
body{width:810px;margin: auto;}
.wrap{position: relative;}
header{height:175px;margin:auto;display:block;}
.main{background: #1d0d22;position: relative;min-height: 650px;}
.content{margin:auto;position: relative;}
.block{margin:auto;position:relative;display:block}
footer{position:relative;clear:both;display:block}

@media(max-width:830px){
	body{width:100%;}
}
@media(max-width:480px){
	.main{min-height: auto;min-height: initial;}
}

header{background: url(../images/btn_bg.jpg) repeat-x;height: 70px;position: relative;padding-left: 300px;z-index: 20;}
header .logo{position: absolute;top: 0;left: 0;text-align: left;padding: 15px;}
header img{max-width:100%;max-height:100%;}
nav{display: block;position: relative;}
nav .link{width: 100%;font-size: 0;}
nav .link li{position: relative;width: 33.33%;display: inline-block;vertical-align: top;font-size: 16px;border-left: 1px solid #7b558c;line-height: 70px;}
nav .link li a{color: #e0cce3;}
nav .link li a:hover{color: #fff;}
nav .share{position: absolute;right: 15px;bottom: -40px;z-index: 1;height: 55px;}

nav .s_link{display: none;}

header .s_menu{z-index: 2;text-align: center;position: absolute;top: 0;right: 0;border-left: 1px solid #835995;display: none;}
header .s_menu a{width: 60px;height: 60px;display: inline-block;padding: 20px 17px 0;color: #fff;}
header .s_menu.active{background: #3d1751;}
header .s_menu.active a{color: #fff;}

.mask{position:fixed;width:100%;height:100%;left:0;top:0;display:none;background:rgba(0,0,0,.8);z-index:10}

@media(max-width:720px){
	header{height: 60px;padding-left: 250px;}
	header .logo{padding: 13px 15px;height: 60px;}
	nav .link li{font-size: 14px;line-height: 60px;}
}
@media(max-width:580px){
	header{padding-left: 0;}
	nav{position: fixed;right: -150px;top: 0;z-index: 1;height: 100%;padding-top: 60px;
		transition: all .3s ease-in;width: 150px;
	}
	nav.active{right: 0;transition: all .3s ease-in;}
	nav .link{display: none;}
	nav .s_link{display: block;overflow-y: auto;width: 100%;font-size: 15px;padding-top: 80px;padding: 20px;height: 100%;background: #b69cc1;text-align: left;}
	nav .s_link li a{color: #fff;padding: 10px 5px;display: inline-block;}
	nav .s_link li a:hover{color: #673878;}
	nav .s_link li + li{border-top:1px solid #eee;}
	header .s_menu{display: block;}
}
@media(max-width:480px){
	html{background: #1a0c1f;}
}


footer{display: none;}

.con{position: relative;z-index: 1;}
.index .main{min-height: 680px;/*background: url(../images/idx_bg.jpg) center top no-repeat;*/}
.index .con1{padding-top: 50px;}
.index .logo{margin-bottom: 8px;}
.index img{max-width: 100%;max-height: 100%;}
.index .title{margin-bottom: 15px;}
.index .count{}
.index .count p{font-size: 16px;color: #ceb0d3;border-top:1px solid #ceb0d3;border-bottom:1px solid #ceb0d3;display: inline-block;padding: 4px 8px;margin-bottom: 30px;}
.index .count span{display: inline-block;color: #fff;margin:0 5px;}
.index .prod_box{position: relative;display: inline-block;margin: auto;}
.index .desc{position: absolute;bottom: 60px;right: -20px;}

@media(max-width:480px){
	.index .main{min-height: auto;min-height: initial;}
	.index .logo{width: 50%;margin:0 auto 5px;}
	.index .title{width: 85%;margin:0 auto 15px;}
	.index .count p{font-size: 13px;padding: 4px;}
	.index .prod_box{padding:0 25px;}
	.index .desc{bottom: 16%;right: 1.5%;width: 24%;}
}

.idx_link{font-size: 0;}
.idx_link li{position: relative;display: inline-block;vertical-align: top;width: 33.33%;}
.idx_link li + li{border-left:1px solid #835995;}
.idx_link li a{color: #ddcae0;font-size: 16px;line-height: 1;padding:27px 25px;background: url(../images/btn_bg.jpg) center repeat;display: block;}
.idx_link li a:hover{color: #673878;background: url(../images/btn_bg_h.jpg) center repeat;}

.idx_link li .share{position: absolute;right: 35px;top: -41px;}

.index .bg{position: absolute;width: 100%;padding-top: 615px;top: 0;left: 0;}
.index .bg img{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

@media(max-width:480px){
	.idx_link ul{width: 90%;margin: auto;padding-bottom:30px;}
	.idx_link li{width: 100%;}
	.idx_link li + li{margin-top: 5px;border-left: 0;}
	.idx_link li a{padding: 15px 0;font-size: 14px;}
	.idx_link li .share{top: -10px;right: 10px;width: 40px;}

	.index .bg{padding-top: 150%;}
}

/*測驗*/
.quiz{position: relative;}
.quiz .bg{position: absolute;width: 100%;padding-top: 650px;top: 0;left: 0;}
.quiz .bg img{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.quiz .prod{width: 190px;position: absolute;right: 20px;bottom: 0;}
.quiz .prod img{width: 100%;}

.guiz_box{width: 400px;margin:auto;padding-top: 140px;}
.guiz_box h2.tit{color: #fff;font-size: 18px;margin-bottom: 30px;text-align: left;padding-left: 35px;position: relative;}
.guiz_box h2.tit span{color: #cdb2d0;position: absolute;top: 0;left: 0;}
.guiz_box input{width: 100%;border:none;background: #75468d;font-size: 17px;color: #fff;padding: 14px 0;border-radius: 0;
	-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;transition:all .35s ease-in-out
}
.guiz_box input + input{margin-top: 15px;}
.guiz_box input:hover{background: #cdb2d0;color: #512a65;}

@media(max-width:720px){
	.quiz .prod{width: 160px;}
}
@media(max-width:480px){
	.quiz .prod{display: none;}
	.guiz_box{width: 80%;padding-top: 60px;}
	.guiz_box h2.tit{font-size: 16px;margin-bottom: 20px;}
	.guiz_box input{font-size: 15px;}
	.guiz_box input + input{margin-top: 10px;}
	.quiz .bg{padding-top: 420px;}
}

/*測驗結果*/
.result_box{width: 600px;padding-top: 75px;margin: auto;}
.result_box .prod{background:url(../images/op_white.png) repeat;height: 370px;padding: 30px 40px;}
.result_box .prod .pic{float: left;width: 170px;margin-top: 20px;}
.result_box .prod img{max-width: 100%;max-height: 100%;}
.result_box .prod .txt{text-align: left;color: #fff;line-height: 1.5;font-size: 15px;margin-left: 220px;}
.result_box .prod h2{border-top:1px solid #fff;border-bottom:1px solid #fff;padding: 5px 0;font-size: 0;display: inline-block;margin-bottom: 15px;}
.result_box .prod p{margin-bottom: 20px;}
.result_box .prod p:last-child{margin-bottom: 0;}
.result_box .prod h3{font-size: 17px;border-top:1px solid #fff;border-bottom:1px solid #fff;padding: 3px 0;display: inline-block;margin-bottom: 10px;}

@media(max-width:680px){
	.result_box {width: 90%;}
	.result_box .prod{height: auto;padding:30px 25px;}
	.result_box .prod .pic{width: 140px;}
	.result_box .prod .txt{margin-left: 160px;font-size: 13px;}
	.result_box .prod h2{height: 30px;width: auto;}
	.result_box .prod h3{font-size: 14px;}
}

@media(max-width:520px){
	.result_box{padding-top: 50px;}
	.result_box .prod .pic{float: none;margin:0 auto 20px;}
	.result_box .prod .txt{margin-left: 0;text-align: center;}
	.result_box .prod h2{margin:0 auto 15px;}
	.result_box .prod p{width: 80%;margin:0 auto 20px;}
}

@media(max-width:380px){
	.result_box .prod p{width: 100%;}
}

.result_box .desc{font-size: 14px;color: #fff;line-height: 1.5;text-align: left;margin-top: 40px;}
.result_box .desc i{margin:0 2px 0 4px;}
.result_box .desc b{color: #f4ef76;}

.result_box .link{padding:20px 0 60px;}
.result_box .link ul{font-size: 0;margin-right: -2%;}
.result_box .link li{font-size: 17px;display: inline-block;vertical-align: top;width: 48%;margin-right: 2%;}
.result_box .link li a{color: #fff;display: block;background: #75468d;padding: 10px 0;}

.result .bg{position: absolute;width: 100%;padding-top: 650px;top: 0;left: 0;}
.result .bg img{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

@media(max-width:520px){
	.result_box .link li{font-size: 14px;}
}

/*領取試用*/
.sample{}
.sample_box{width: 600px;margin:0 auto 30px;padding-top: 50px;line-height: 1.5;}
.sample_box .desc{color: #fff;font-size: 15px;text-align: left;}
.sample .bg{position: absolute;width: 100%;padding-top: 650px;top: 0;left: 0;}
.sample .bg img{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

.sample .prod{position: relative;margin-top: 190px;}
.sample .prod .pic{position: relative;z-index: 1;}
.sample .prod img{max-width: 100%;max-height: 100%;}
.sample .prod li{position: absolute;padding: 30px 28px;width: 225px;height: 225px;background:url(../images/op_white.png) repeat;color: #fff;font-size: 12px;border-radius: 50%;}
.sample .prod li h2{position: relative;display: inline-block;font-size: 0;}
.sample .prod li h2 .tit{position: relative;z-index: 1;}
.sample .prod li .prod_shadow{position: absolute;left: 5px;top: -18px;}
.sample .prod li .spec{display: block;margin-bottom: 10px;position: relative;z-index: 1;}
.sample .prod li .spec span{display: inline-block;}
.sample .prod li .spec span + span{margin-left: 10px;}
.sample .prod li .txt{text-align: left;padding-top: 12px;border-top:1px dashed #76687b;}
.sample .prod li.li1{left: 50%;margin-left: -112px;top: -155px;}
.sample .prod li.li2{left: -30px;top: -40px;}
.sample .prod li.li3{right: -30px;top: -40px;}

@media(max-width:720px){
	.sample_box{width: 80%;margin: 0 auto 60px;}
	.sample .prod{margin-top: 0;}
	.sample .prod li{position: relative;width: 100%;text-align: left;border-radius: 0;height: auto;padding: 25px 20px;}
	.sample .prod li + li{margin-top: 15px;}
	.sample .prod li.li1{left: 0;margin-left: 0;top: 0;}
	.sample .prod li.li2{left: 0;top: 0;}
	.sample .prod li.li3{right: 0;top: 0;}
	.sample .prod li .spec{margin-bottom: 0;}
	.sample .prod li .txt{margin-top: 10px;}
	.sample .prod li .prod_shadow{width: 45px;right:15px;left:auto;left:initial;top: -15px;}
}
@media(max-width:480px){
	.sample_box{width: 90%;}
	.sample .prod li{padding: 20px 15px;}

	.sample .bg{padding-top: 120%;}
}

.sample_form{width: 600px;margin: auto;}
.sample_form h2{display: inline-block;margin-bottom: 20px;border-top:1px solid #fff;border-bottom:1px solid #fff;padding: 5px 0;font-size: 0;}
.sample_form img{max-width: 100%;max-height: 100%;}
.sample_form .desc{margin-bottom: 30px;}
.sample_form .desc p{text-align: left;color: #fff;font-size: 15px;line-height: 1.5;margin-bottom: 10px;}
.sample_form .desc b{color: #ece775;}
.sample_form .desc small{color: #ece775;font-size: 12px;}

.form2 dl{width: 100%;padding-left: 140px;position: relative;}
.form2 dl + dl{margin-top: 25px;}
.form2 dt{position: absolute;top: 0;left: 0;color: #fff;font-size: 14px;padding-top: 5px;}
.form2 dt .star{font-size: 15px;color: #ece775;margin-left: 5px;}
.form2 input[type="text"]{border-radius: 0;width: 100%;color: #fff;background:url(../images/op_white.png) repeat;font-size: 14px;line-height: 1;padding: 5px 10px;height: 30px;}
.form2 dd{font-size: 0;}
.form2 .select1{width: 31.33%;position: relative;-webkit-appearance: none;font-size: 0;text-align: left;display: inline-block;vertical-align: middle;background:transparent url(../images/op_white.png) repeat;}
.form2 .select1 + .select1{margin-left: 3%;}
.form2 .select1:after{content:'\f0d7';position: absolute;z-index: 1;color: #fff;margin-top: -8px;top: 50%;right: 5px;
	display: inline-block;font: normal normal normal 14px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased;}
.form2 .select1 select{color: #fff;cursor:pointer;position: relative;z-index: 2;width: 100%;border: none;outline: none;-webkit-appearance: none;background: transparent;font-size: 14px;padding: 5px 0 5px 10px;}

.form2 .term{text-align: left;font-size: 14px;margin: 40px 0 60px;color: #fff;}
.form2 label{position: relative;padding-left: 25px;display: block;}
.form2 input[type="checkbox"]{position: absolute;top: 1px;left: 0;border: none;outline: none;-webkit-appearance: none;}
.form2 input[type="checkbox"]:before{content:'';display: inline-block;cursor: pointer;position: absolute;top: 2px;left: 0;width: 13px;height: 13px;border-radius: 3px;border:1px solid #fff;}
.form2 input[type="checkbox"]:checked:before{content:'\f00c';color: #fff;
	display: inline-block;font: normal normal normal 12px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;	
}
.form2 textarea{background:url(../images/op_white.png) repeat;width: 100%;padding: 5px 10px;border:none;height: 130px;resize: none;}
.form2 span{color: #fff;display: inline-block;}
.mylink{padding-bottom: 60px;}
.mylink ul{margin-right: -3%;font-size: 0;}
.mylink li{width: 47%;margin-right: 3%;display: inline-block;vertical-align: top;}
.mylink li a{padding:14px 0;display: block;color: #fff;font-size: 17px;line-height: 1;}
.mylink li.grey a{background: #7c7c7c;}
.mylink li.grape a{background: #75468d;}
.mylink.w100 ul{margin-right: 0;}
.mylink.w100 li{width: 100%;}

@media(max-width:720px){
	.sample_form{width: 80%;}
	.form2 .select1{width: 100%;}
	.form2 .select1 + .select1{margin-left: 0;margin-top: 10px;}
	.form2 dl{padding-left: 100px;}
	.form2 dl + dl{margin-top: 15px;}
}
@media(max-width:480px){
	.sample_form{width: 90%;}
	.sample_form .desc p{font-size: 13px;}
	.sample_form .desc small{display: block;text-align: left;}
	.form2 dt{position: relative;padding-top: 0;margin-bottom: 5px;text-align: left;}
	.form2 dl{padding-left: 0;}

	.mylink{padding-bottom: 45px;}
	.mylink li a{font-size: 14px;}
}

/*兌換*/
.redeem .bg{position: absolute;width: 100%;padding-top: 650px;top: 0;left: 0;}
.redeem .bg img{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}

.redeem_box{width: 300px;margin: auto;padding-top: 90px;text-align: center;}
.redeem_box h2{font-size: 0;}
.redeem_box p{margin: 10px 0 35px;color: #fff;font-size: 15px;line-height: 1.5;}
.redeem_box .pic{padding:0 20px;}
.redeem_box img{max-width: 100%;}

@media(max-width:480px){
	.redeem_box{width: 80%;padding-top: 50px;}
	.redeem .bg{padding-top: 150%;}
}

/*填寫心得*/
.review .bg{position: absolute;width: 100%;padding-top: 650px;top: 0;left: 0;}
.review .bg img{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.review_box{width: 600px;margin:0 auto;padding: 45px 0;}
.review h2{display: inline-block;margin-bottom: 20px;border-top:1px solid #fff;border-bottom:1px solid #fff;padding: 5px 0;font-size: 0;}
.review_box .desc{color: #fff;font-size: 15px;line-height: 1.5;text-align: left;}
.review_box + .sample_form{padding-top: 50px;border-top:1px dashed #fff;}

.review .sample_form h2{margin-bottom: 5px;}
.fileUpload{font-size: 14px;position: relative;overflow: hidden;border:1px solid #fff;line-height: 1;padding: 8px 0;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;cursor: pointer;opacity: 0;filter: alpha(opacity=0);width: 100%;height: 100%;}
.fileUpload i{display: inline-block;margin-left: 5px;}
#uploadFile{display: none;}
#uploadFile + .fileUpload{margin-top: 5px;}

.review_prod{padding-top: 40px;}
.review_prod ul{font-size: 0;margin-right: -3%;}
.review_prod li{width: 30.33%;margin-right: 3%;background: url(../images/op_white.png) repeat;padding: 20px 0;border-radius: 5px;display: inline-block;vertical-align: top;}
.review_prod li .week{line-height: 1.5;color: #e0cce3;display: inline-block;margin-bottom: 10px;font-size: 13px;border-top:1px solid #e0cce3;border-bottom:1px solid #e0cce3;}
.review_prod li .pic{width: 80px;margin:0 auto 10px;}
.review_prod li .pic img{max-width: 100%;}
.review_prod li p{font-size: 15px;color: #fff;margin-bottom: 5px;}
.review_prod li .price{color: #e0cce3;font-size: 12px;}

@media(max-width:720px){
	.review_box{width: 80%;}
	.review_prod ul{margin-right: 0;}
	.review_prod li{width: 100%;margin-right: 0;padding-left: 45%;text-align: left;position: relative;}
	.review_prod li + li{margin-top: 10px;}
	.review_prod li .pic{position: absolute;left: 30%;margin-left: -40px;top: 10px;}
}
@media(max-width:480px){
	.review .bg{padding-top: 120%;}
	.review_box{width: 90%;}
}
@media(max-width:420px){
	.review_prod li{padding-left: 35%;}
	.review_prod li p{font-size: 14px;}
	.review_prod li .pic{left: 20%;margin-left: -40px;width: 60px;top: 25px;}
}

.ppl_review{}
.ppl_review .w33{font-size: 15px;line-height: 1.5;color: #fff;position: relative;padding: 5px 0;}
.ppl_review .box{background: url(../images/op_white.png) repeat;padding: 25px 30px 25px 120px;border-radius: 5px;}
.ppl_review .left{width: 80px;position: absolute;left: 25px;top: 35px;text-align: center;}
.ppl_review .pic{width: 80px;height: 80px;margin-bottom: 10px;border-radius: 50%;}
.ppl_review .right{text-align: left;font-size: 13px;}

.ppl_review .slick-prev,.ppl_review .slick-next{top: 50%;margin-top: -13px;width: 25px;height: 25px;font-size: 20px;color: #fff;width: 26px;height: 26px;border-radius: 50%;background: transparent;}
.ppl_review .slick-prev.slick-disabled,.ppl_review .slick-next.slick-disabled{color: #444;}
.ppl_review .slick-prev:hover ,.ppl_review .slick-next:hover{background: transparent;}
.ppl_review .slick-prev{left: -35px;}
.ppl_review .slick-prev:before{content:'\f053';margin-right: 1px;
	display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
.ppl_review .slick-next{right: -35px;}
.ppl_review .slick-next:before{content:'\f054';margin-left: 1px;
	display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
.ppl_review .slick-dots li{margin: 0 2px;}
.ppl_review .slick-dots{bottom: -30px;}

.ppl_review .slick-dots li button:before{color: #7e6a83;opacity: 1;}
.ppl_review .slick-dots li.slick-active button:before{color: #fff;opacity: 1;}

@media(max-width:720px){
	.ppl_review{text-align: left;}
	.ppl_review .box{padding: 25px 30px;}
	.ppl_review .left{width: auto;position: relative;top:0;left: 0;text-align: left;margin-bottom: 10px;}
	.ppl_review .pic{width: 40px;height: 40px;display: inline-block;vertical-align: middle;margin-bottom: 0;}
	.ppl_review .name{display: inline-block;vertical-align: middle;}
	.ppl_review .box{height: 250px;}
}
@media(max-width:520px){
	.review_box{width: 100%;padding: 45px 30px;}
	.ppl_review .slick-prev{left: -25px;}
	.ppl_review .slick-next{right: -25px;}
	.ppl_review .box{height: 300px;}
}
@media(max-width:420px){
	.ppl_review .pic{width: 35px;height: 35px;}
	.ppl_review .box{padding: 20px;}
}